---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Datenschutz">
    <main>
        <section class="h-auto bg-white tails-selected-element">
            <div class="px-10 py-24 max-w-4xl mx-auto">
                <div class="w-full mx-auto text-left md:text-center">
                    <h1 class="mb-6 text-3xl font-extrabold leading-none max-w-5xl mx-auto tracking-normal text-[#6f82ba] sm:text-4xl md:text-5xl lg:text-6xl md:tracking-tight">
                        Datenschutz</h1>

                    <div class="text-left pt-12">

                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>