---
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets";
import psMachineImg from "./images/ps-machine.svg";
import martenImg from "./images/marten.jpg";
import Advantages from "../components/Advantages.astro";
import ModulesCarousel from "../components/ModulesCarousel.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="Individuelle ProductDaten, Smarte Collaboration" description="ProductSpace beschleunigt durch eine zentrale Plattform die Kommunikation und Collaboration an Ihrem Sortiment - Im Team und mit Partnern.">
    <main>
        <section class="relative isolate 4">
            <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
                <defs>
                    <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="100" height="100" x="50%" y="-1" patternUnits="userSpaceOnUse">
                        <path d="M100 200V.5M.5 .5H200" fill="none" />
                    </pattern>
                </defs>
                <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                    <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
                </svg>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
            </svg>
            <div class="mx-auto max-w-7xl px-6 py-12 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-40">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
                    <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                        <span class="relative inline-block">Individuelle
                        <svg class="absolute w-full h-auto -mt-3 text-yellow-200 stroke-current" viewBox="0 0 554 43" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" stroke-width="5" stroke-linecap="round"><path d="M4.533 20.643s347.445-16.108 542.096 6.73M2.622 19.54S354.53 8.562 550.46 33.753" /></g>
            </svg>
                    </span>{' '} Produktdaten, <span class="relative inline-block">Smarte
                        <svg class="absolute w-full h-auto -mt-3 text-yellow-200 stroke-current" viewBox="0 0 554 43" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" stroke-width="5" stroke-linecap="round"><path d="M4.533 20.643s347.445-16.108 542.096 6.73M2.622 19.54S354.53 8.562 550.46 33.753" /></g>
            </svg>
                    </span>{' '} Collaboration</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        <b>ProductSpace</b> beschleunigt durch eine zentrale Plattform die Kommunikation und Collaboration an Ihrem Sortiment - Im Team und mit Partnern. Die <b>Time-to-Market gemeinsam verkürzen</b> und Produktdaten schnell und intuitiv pflegen.</p>
                </div>
                <div class="mt-16 sm:mt-24 lg:flex-shrink-0 lg:flex-grow">
                    <Image class="mx-auto w-[25rem] lg:w-[40rem] max-w-full" src={psMachineImg}
                           alt="Transform ideas into products with ProductSpace" width="869" height="734"/>
                </div>
            </div>
        </section>

        <section class="w-full px-10 bg-gray-50 lg:px-0 tails-selected-element">
            <Advantages/>
        </section>


        <section class="w-full py-12 bg-white sm:py-20 tails-selected-element">
            <ModulesCarousel/>
        </section>

        <section class="relative overflow-hidden tails-selected-element bg-[#6F82BA]" data-tails-scripts="//unpkg.com/alpinejs" contenteditable="true">
            <div class="relative z-30 flex flex-col px-10 pt-10 pb-32 mx-auto md:flex-row sm:pt-18 sm:pb-28 md:pt-20 md:pb-20 max-w-7xl">
                <div class="flex flex-col items-start justify-center w-full space-y-8 md:w-1/2 sm:pr-8 xl:pr-20">
                    <h1 class="text-2xl font-bold text-white lg:text-4xl">Browser Addon</h1>
                    <p class="text-base text-blue-200 lg:text-lg">Mit unserem Browser Addon können Sie bequem und effizient neue Produkte erstellen und alle relevanten Informationen wie Bilder, URL und Attribute automatisch speichern lassen. Sparen Sie Zeit und Aufwand und optimieren Sie Ihre Arbeitsabläufe mit nur wenigen Klicks.</p>
                    <a href="/kontakt" class="flex items-center w-full px-5 py-3 mb-3 mr-1 text-base font-semibold text-black no-underline align-middle bg-white border border-transparent border-solid rounded-md cursor-pointer select-none sm:mb-0 sm:w-auto hover:bg-[#FF5C74] hover:border-[#FF5C74] hover:text-white focus-within:bg-[#FF5C74] focus-within:border-[#FF5C74]" data-rounded="rounded-md" data-primary="blue-600">
                        Starten Sie noch heute
                        <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                    </a>
                </div>
                <div class="relative flex items-center justify-center w-full mt-10 md:mt-0 md:w-1/2">
                    <div class="relative cursor-pointer group">
                        <video class="rounded-lg shadow-xl tails-selected-element" autoplay muted controls loop src="https://cdn.rocketbase.io/video/ps-browser-addon.mp4"/>
                    </div>
                </div>
            </div>
            <!--<div class="absolute bottom-0 left-0 z-20 w-full h-full overflow-x-hidden opacity-50 bg-gradient-to-b from-transparent via-transparent to-black"></div>-->
        </section>

        <section class="mx-auto py-12 lg:py-20 text-center bg-gray-50">
            <div class="relative isolate overflow-hidden">
                <div class="mx-auto lg:max-w-4xl">
                    <figure class="">
                        <h2 class="text-base font-semibold leading-8 text-gray-600">Entwickelt von RocketBase</h2>
                        <p class="mt-2 text-3xl font-bold leading-8 text-gray-900 sm:text-2xl">Unsere maßgeschneiderte Alternative zu herkömmlichen PIM-Systemen.</p>

                        <blockquote class="text-base leading-8 text-gray-600 sm:text-lg mt-2">
                            <p>ProductSpace ist wie ein flexibler Baukasten, der sich an Ihre Bedürfnissen anpasst - gespickt mit zahlreichen Funktionen, welche kaum Wünsche offen lassen.”</p>
                        </blockquote>
                        <figcaption class="mt-10">
                            <Image class="mx-auto h-10 w-10 rounded-full" src={martenImg} alt="Marten Prieß" />
                            <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                                <div class="font-semibold text-gray-900">Marten Prieß</div>
                                <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
                                    <circle cx="1" cy="1" r="1" />
                                </svg>
                                <div class="text-gray-600">CEO RocketBase GmbH</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>

        <section class="w-full p-10 lg:py-20 bg-white lg:px-0 tails-selected-element">
           <Testimonials/>
        </section>

        <section class="relative overflow-hidden bg-gray-50">
            <div class="relative z-30 flex flex-col px-10 pt-10 pb-32 mx-auto md:flex-row sm:pt-18 sm:pb-28 md:pt-20 md:pb-20 max-w-7xl">
                <iframe class="w-full aspect-video lazyload" src="https://player.vimeo.com/video/997485401?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="ProductSpace Intro"></iframe>
            </div>
        </section>

    </main>
</Layout>