---
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets";
import psMachineImg from "./images/ps-machine.svg";
import martenImg from "./images/marten.jpg";
import Advantages from "../components/Advantages.astro";
import ModulesCarousel from "../components/ModulesCarousel.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="Individuelle ProductDaten, Smarte Collaboration">
    <main>
        <section class="relative isolate 4">
            <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
                <defs>
                    <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="100" height="100" x="50%" y="-1" patternUnits="userSpaceOnUse">
                        <path d="M100 200V.5M.5 .5H200" fill="none" />
                    </pattern>
                </defs>
                <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                    <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
                </svg>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
            </svg>
            <div class="mx-auto max-w-7xl px-6 py-12 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-40">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
                    <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                        <span class="relative inline-block">Individuelle
                        <svg class="absolute w-full h-auto -mt-3 text-yellow-200 stroke-current" viewBox="0 0 554 43" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" stroke-width="5" stroke-linecap="round"><path d="M4.533 20.643s347.445-16.108 542.096 6.73M2.622 19.54S354.53 8.562 550.46 33.753" /></g>
            </svg>
                    </span>{' '} Produktdaten, <span class="relative inline-block">Smarte
                        <svg class="absolute w-full h-auto -mt-3 text-yellow-200 stroke-current" viewBox="0 0 554 43" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" stroke-width="5" stroke-linecap="round"><path d="M4.533 20.643s347.445-16.108 542.096 6.73M2.622 19.54S354.53 8.562 550.46 33.753" /></g>
            </svg>
                    </span>{' '} Collaboration</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        <b>ProductSpace</b> beschleunigt durch eine zentrale Plattform die Kommunikation und Collaboration an Ihrem Sortiment - Im Team und mit Partnern. Die <b>Time-to-Market gemeinsam verkürzen</b> und Produktdaten schnell und intuitiv pflegen.</p>
                </div>
                <div class="mt-16 sm:mt-24 lg:flex-shrink-0 lg:flex-grow">
                    <Image class="mx-auto w-[25rem] lg:w-[40rem] max-w-full" src={psMachineImg}
                           alt="Transform ideas into products with ProductSpace" width="869" height="734"/>
                </div>
            </div>
        </section>

        <section class="w-full px-10 bg-gray-50 lg:px-0 tails-selected-element">
            <Advantages/>
        </section>


        <section class="w-full py-12 bg-white sm:py-20 tails-selected-element">
            <ModulesCarousel/>
        </section>


        <section class="w-full p-10 bg-gray-50 lg:px-0 tails-selected-element">
           <Testimonials/>
        </section>


        <section class="mx-auto text-center">
            <div class="relative isolate overflow-hidden bg-white">
                <div class="mx-auto lg:max-w-4xl">
                    <figure class="mt-10">
                        <h2 class="text-base font-semibold leading-7 text-gray-700">Entwickelt von RocketBase</h2>
                        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl">Unsere maßgeschneiderte Alternative zu herkömmlichen PIM-Systemen.</p>

                        <blockquote class="text-xl leading-8 text-gray-900 sm:text-1xl sm:leading-9">
                            <p>ProductSpace ist wie ein flexibler Baukasten, der sich an Ihre Bedürfnissen anpasst - gespickt mit zahlreichen Funktionen, welche kaum Wünsche offen lassen.”</p>
                        </blockquote>
                        <figcaption class="mt-10">
                            <Image class="mx-auto h-10 w-10 rounded-full" src={martenImg} alt="Marten Prieß" />
                            <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                                <div class="font-semibold text-gray-900">Marten Prieß</div>
                                <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
                                    <circle cx="1" cy="1" r="1" />
                                </svg>
                                <div class="text-gray-600">CEO RocketBase GmbH</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>

    </main>
</Layout>