---
const currentYear = new Date().getFullYear();
import {Image} from "astro:assets";
import logo from "../pages/images/footer/productspace-logo.png";
---
<footer class="bg-[#6F82BA] text-white" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8">
                <Image class="max-w-[300px]" src={logo} alt="Rocketbase logo"/>
                <p class="text-sm leading-6">made with ♥ in Hamburg © 2024</p>
                <div class="flex space-x-6">
                    <a href="/impressum" class="hover:underline">Impressum</a>
                    <a href="/datenschutz" class="hover:underline">Datenschutz</a>
                </div>
            </div>
            <div class="mt-16 w-full flex flex-row-reverse gap-8 xl:col-span-2 xl:mt-0">

                <div class="basis-1/2 lg:basis-1/4">
                    <h3 class="text-sm font-semibold leading-6">Module</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a href="/pinboard" class="text-sm leading-6 hover:underline">Pinboard</a>
                        </li>
                        <li>
                            <a href="/showroom" class="text-sm leading-6 hover:underline">Showroom</a>
                        </li>
                        <li>
                            <a href="/briefing" class="text-sm leading-6 hover:underline">Briefing</a>
                        </li>
                        <li>
                            <a href="/datapool" class="text-sm leading-6 hover:underline">Datapool</a>
                        </li>
                    </ul>
                </div>
                <div class="mt-10 md:mt-0 basis-1/2 lg:basis-1/4">
                    <h3 class="text-sm font-semibold leading-6">Inhalt</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a href="/" class="text-sm leading-6 hover:underline">Start</a>
                        </li>
                        <li>
                            <a href="/case-study-bonprix" class="text-sm leading-6 hover:underline">Case Study</a>
                        </li>
                        <!--<li>-->
                        <!--    <a href="/browser-addon" class="text-sm leading-6 hover:underline">Browser Addon</a>-->
                        <!--</li>-->
                        <li>
                            <a href="/kontatk" class="text-sm leading-6 hover:underline">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
            <p class="text-xs leading-5">&copy; {currentYear} rocketbase.io software production GmbH. All rights reserved.</p>
        </div>
    </div>
</footer>