---
import {Image} from "astro:assets";
import caseStudyImg from "../pages/images/case-study.png";
---

<div class="max-w-7xl px-10 md:px-20 lg:px-10 pt-5 rounded-3xl mx-auto">
	<div class="flex flex-wrap items-center">
		<div class="w-full lg:w-5/12 px-4 order-last lg:order-first">
			<Image class="mx-auto mt-10 lg:mt-0 h-full w-full lg:max-w-none md:max-w-md max-w-sm object-cover" src={caseStudyImg} alt="case study image" />
			<div class="lg:w-auto w-full flex flex-col sm:items-center sm:text-center lg:text-left">
				<a href="/case-study-bonprix" class="w-full font-medium text-white bg-[#6F82BA] hover:bg-[#373754] text-center px-8 py-3.5 text-base rounded-md">Zur Case Study</a>
			</div>
		</div>
		<div class="w-full lg:w-7/12 px-4 pb-6 pt-10 md:pt-20 lg:pt-0">
			<div class="max-w-xl lg:ml-auto">
				<svg class="w-12 h-12 mb-6 fill-current text-[#FFD93B]" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26 29.45C26 19.3858 33.4577 8.86747 45.2297 6.16443C45.6793 6.0612 46.1364 6.29467 46.3301 6.71327L47.5161 9.27572C47.7602 9.80299 47.5031 10.4238 46.9877 10.692C43.3044 12.608 40.1644 17.1966 39.3647 20.8059C39.2493 21.3268 39.6241 21.8042 40.1413 21.9351C44.6581 23.0784 48 27.1681 48 32.042C48 38.406 42.832 42 37.602 42C31.572 42 26 37.39 26 29.45ZM0 29.45C0 19.3858 7.45772 8.86747 19.2297 6.16443C19.6793 6.0612 20.1364 6.29467 20.3301 6.71327L21.5161 9.27572C21.7602 9.80299 21.5031 10.4238 20.9877 10.692C17.3044 12.608 14.1644 17.1966 13.3647 20.8059C13.2493 21.3268 13.6241 21.8042 14.1413 21.9351C18.6581 23.0784 22 27.1681 22 32.042C22 38.406 16.832 42 11.602 42C5.572 42 0 37.39 0 29.45Z"></path></svg>
				<h2 class="mb-7 text-xl md:text-2xl leading-8 font-bold text-gray-900">ProductSpace hat uns letztlich <span class="text-[#6F82BA] font-bold">überzeugt und begeistert.</span></h2>
				<p class="mb-10 text-base md:text-lg text-gray-600 ">ProductSpace bringt Transparenz und Tempo in die Kollektionsentwicklung</p>
				<p class="mb-10 text-base md:text-lg text-gray-600"><span class="text-[#6F82BA] font-bold">340 aktive User </span> und über <span class="text-[#6F82BA] font-bold">3000 geteilte Produkte</span> und Ideen pro Monat</p>
				<div class="mb-3 text-base font-semibold flex items-center space-x-3">
					<div class="font-semibold text-gray-900">Anja Mittelstädt</div>
					<svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
						<circle cx="1" cy="1" r="1" />
					</svg>
					<div class="text-gray-600 font-normal">Bonprix</div>
				</div>
			</div>
		</div>
	</div>
</div>
